<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EPAS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitAppraisalServlet</display-name>
    <servlet-name>SubmitAppraisalServlet</servlet-name>
    <servlet-class>com.example.servlet.SubmitAppraisalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitAppraisalServlet</servlet-name>
    <url-pattern>/SubmitAppraisalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.example.servlet.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HodServlet</display-name>
    <servlet-name>HodServlet</servlet-name>
    <servlet-class>com.example.servlet.HodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HodServlet</servlet-name>
    <url-pattern>/HodServlet</url-pattern>
  </servlet-mapping>
</web-app>